.u_msg_ipt {
	width: 100%;
	height: 60px;
	display: block;
	resize: none;
}

.g_chat_info {
	height: 48px;
	.u_status {
		float: right;
		height: 48px;
		line-height: 48px;
	}
	.u_msg {
		display: inline-block;
		padding: 10px 10px;
		background-color: aliceblue;
	}
	.g_line {
		margin: 5px 0;
		p {
			margin: 0;
		}
	}
	.u_self {
		float: right;
		margin-right: 1em;
	}
	.u_other {
		float: left;
		max-width: 90%;
		word-wrap: break-word;
	}
}

.clearfix:after {
	display: block;
	clear: both;
	width: 100%;
	height: 0;
	visibility: hidden;
	content: "";
}