@font-face {
	font-family: "iconfont";
	src: url('../font/iconfont.eot'); /* IE9 */
	src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../font/iconfont.woff') format('woff'), /* chrome、firefox */
	url('../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
	url('../font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}
#J_main {
	position: relative;
}
#J_friend ul {
	margin: 0;
	padding: 0;
	overflow: auto;
}
#J_detail {
	margin: 0 5px;
	height: 48px;
	list-style: none;
}
#J_tabs {
	height: 486px;
}
#J_friend .z_offline .u_avatar,
#J_friend .z_offline .u_nick{
	opacity: 0.5;
}
#J_friend .g_friend,
#J_friend_find .g_find_rst {
	padding: 8px 4px 8px 8px;
	height: 48px;
	list-style: none;
	cursor: pointer;
}
#J_friend .u_cfg,
#J_friend_find .u_cfg{
	position: relative;
	float: right;
	height: 48px;
	text-align: center;
	font-size: 56px;
	line-height: 24px;
	overflow: visible;
}
#J_friend .g_friend:hover {
	background-color: #f0f0f0;
}
#J_detail .u_avatar,
#J_friend .g_friend .u_avatar,
.g_chat_info .u_avatar,
#J_friend_find .u_avatar {
	position: relative;
	float: left;
	height: 48px;
	width: 48px;
	border-radius: 50%;
	cursor: pointer;
}

#J_friend .u_remind_hide {
	display: none;
}

#J_friend .u_remind {
	position: absolute;
	z-index: 1;
	top: -6px;
	left: -8px;
	
	min-width: 1em;
	background: #c7254e;
	border-radius: 50%;
	color: #f9f2f4;
	text-align: center;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#J_friend .u_status {
	position: absolute;
	z-index: 1;
	bottom: -6px;
	left: -8px;
	height: 1em;
	width: 1em;
	border-radius: 50%;
}

#J_friend .u_status_ {
	display: none;
}
#J_friend .u_status_chat {
	background-color: #3c763d;
}

#J_friend .u_status_away {
	background-color: #8a6d3b;
}

#J_friend .u_status_dnd {
	background-color: #a94442;
}

#J_detail .u_nick,
#J_friend .g_friend .u_nick,
.g_chat_info .u_nick,
#J_friend_find .u_nick {
	height: 100%;
	overflow: hidden;
	text-align: center;
	line-height: 48px;
}

#J_tool {
	height: 34px;
	margin: 0;
}
#J_tool li {
	float: right;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	padding: 4px;
	font-size: 24px;
}
#J_tool li:hover {
	background-color: rgb(64, 64, 64);
	color: #fff;
}
#J_friend_detail dt,
#J_friend_detail dd {
	height: 30px;
	line-height: 30px;
}
#J_friend_detail dt {
	float: left;
	width: 80px;
	text-align: right;
}
#J_friend_detail dd {
	overflow: hidden;
	text-align: left;
	padding-left: 10px;
}
.u_msg_ipt {
	width: 100%;
	height: 60px;
	display: block;
	resize: none;
}
.g_chat_info {
	height: 48px;
}
.g_chat_info .u_status {
	float: right;
	height: 48px;
	line-height: 48px;
}

.g_gc_dlg .u_msg,
.g_chat_dlg .u_msg {
	display: inline-block;
	padding: 10px 10px;
	background-color: aliceblue;
}

.g_gc_dlg .g_line,
.g_chat_dlg .g_line {
	margin: 5px 0;
}

.g_gc_dlg .g_line p,
.g_chat_dlg .g_line p {
	margin: 0;
}

.g_gc_dlg .u_self,
.g_chat_dlg .u_self {
	float: right;
	margin-right: 1em;
}
.g_gc_dlg .u_other,
.g_chat_dlg .u_other {
	float: left;
	max-width: 90%;
	word-wrap: break-word;
}
.clearfix:after {
	display: block;
	clear: both;
	width: 100%;
	height: 0;
	visibility: hidden;
	content: "";
}
#J_friend .u_cfg span {
	display: inline-block;
	padding: 6px;
	font-size: 24px;
	-webkit-transform-origin: 50% 50%;
}
#J_friend .u_cfg:hover span {
	-webkit-animation: u_cfg_rotate linear 3s infinite;
}
@-webkit-keyframes u_cfg_rotate {
	0% {
		-webkit-transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}
#J_friend .u_cfg:hover .u_cfg_list {
	display: block;
}
#J_friend .u_cfg .u_cfg_list {
	display: none;
	padding: .2em 0;
	background-clip: padding-box;
	background-color: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	outline: medium none;
	position: absolute;
	right: 0;
	z-index: 9999;
	width: 100px;
	top: 50%;
}
#J_friend .u_cfg .u_cfg_item {
	padding: 0 .2em;
	font-size: 16px;
	text-align: center;
}
#J_friend .u_cfg .u_cfg_item:hover {
	background: #DDD;
}

.u_status_sel {
	float: left
}

#tab_sd_avatar img {
	height: 100px;
	display: block;
}

.g_room {
	padding: 1em;
	height: 2em;
	line-height: 2em;
}

.g_room .u_name {
	overflow: hidden;
	text-align: center;
}

.g_room .u_btn {
	float: right;
}

.g_gc_dlg .g_left{
	width: 68%;
	float: left;
	height: 100%;
	padding-right: 2%;
	border-right: 1px solid #DDD;
}

.g_gc_dlg .g_right {
	overflow: hidden;
	height: 100%;
	padding-left: 2%;
}

.g_gc_dlg .m_msg {
	height: 80%;
	overflow: auto;
}

.g_gc_dlg .g_ipt {
	height: 20%;
}

.g_gc_dlg .g_ipt .u_ipt {
	resize: none;
	width: 100%;
	height: 100%;
	margin: 0;
	box-sizing: border-box;
}

.g_gc_dlg .u_subject {
	height: 20%;
	text-align: center;
	border-bottom: 1px solid #DDD;
}

.g_gc_dlg .m_user {
	height: 80%;
	text-align: center;
}

.g_gc_dlg .m_user .g_user {
	height: 2em;
	line-height: 2em;
	cursor: pointer;
}

.g_gc_dlg .m_user .g_user:hover {
	background-color: #DDD
}

.g_gc_dlg .u_affi {
	float: right;
}

.g_gc_dlg .u_affi_none {
	visibility: hidden;
}

.g_gc_dlg .u_affi_member {
	color: #000;
}
	
.g_gc_dlg .u_affi_admin {
	color: #428bca;
}

.g_gc_dlg .u_affi_owner {
	color: #d9534f;
}

.m_gc_cfg {
	float: left;
	margin: 0.5em 0;
	line-height: 2em;
}

.m_gc_cfg .u_cfg {
	padding: .3em;
	border-radius: 3px;
	cursor: pointer;
}
.m_gc_cfg .u_cfg:hover {
	background-color: #404040;
	color: #fff;
}

.g_gc_menu {
	position: absolute;
	z-index: 999999;
}

.g_gc_menu .u_change_affi {
	padding: .3em 1em;
	cursor: pointer;
}

.g_gc_menu .u_change_affi:hover {
	background-color: #DDD;
}