@font-face {
	font-family: "iconfont";
	src: url('../font/iconfont.eot'); /* IE9 */
	src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../font/iconfont.woff') format('woff'), /* chrome、firefox */
	url('../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
	url('../font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}
#J_main {
	position: relative;
}
#J_main ul {
	margin: 0;
	padding: 0;
	overflow: auto;
}
#J_detail {
	margin: 0 5px;
	height: 48px;
	list-style: none;
}
#J_friend {
	height: 480px;
}
#J_friend .z_offline .u_avatar,
#J_friend .z_offline .u_nick{
	opacity: 0.5;
}
#J_friend .g_friend,
#J_friend_find .g_find_rst {
	padding: 8px 4px 8px 8px;
	height: 48px;
	border-radius: 16px;
	list-style: none;
	cursor: pointer;
}
#J_friend .u_cfg,
#J_friend_find .u_cfg{
	position: relative;
	float: right;
	height: 48px;
	text-align: center;
	font-size: 56px;
	line-height: 24px;
	overflow: visible;
}
#J_friend .g_friend:hover {
	background-color: #f0f0f0;
}
#J_detail .u_avatar,
#J_friend .g_friend .u_avatar,
.g_chat_info .u_avatar,
#J_friend_find .u_avatar {
	float: left;
	height: 100%;
	border-radius: 50%;
	cursor: pointer;
}
#J_detail .u_nick,
#J_friend .g_friend .u_nick,
.g_chat_info .u_nick,
#J_friend_find .u_nick {
	height: 100%;
	overflow: hidden;
	text-align: center;
	line-height: 48px;
}
#J_tool {
	height: 34px;
}
#J_tool li {
	float: right;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	border-radius: 4px;
	padding: 4px;
	font-size: 24px;
}
#J_tool li:hover {
	background-color: rgb(64, 64, 64);
	color: #fff;
}
#J_friend_detail dt,
#J_friend_detail dd {
	height: 30px;
	line-height: 30px;
}
#J_friend_detail dt {
	float: left;
	width: 80px;
	text-align: right;
}
#J_friend_detail dd {
	overflow: hidden;
	text-align: left;
	padding-left: 10px;
}
.u_msg_ipt {
	width: 100%;
	height: 60px;
	display: block;
	resize: none;
}
.g_chat_info {
	height: 48px;
}
.g_chat_info .u_status {
	float: right;
	height: 48px;
	line-height: 48px;
}
.g_chat_dlg .u_msg {
	display: inline-block;
	padding: 10px 10px;
	background-color: aliceblue;
	border-radius: 5px;
}
.g_chat_dlg .g_line {
	margin: 5px 0;
}
.g_chat_dlg .g_line p {
	margin: 0;
}
.g_chat_dlg .u_self {
	float: right;
}
.g_chat_dlg .u_other {
	float: left;
	max-width: 90%;
	word-wrap: break-word;
}
.clearfix:after {
	display: block;
	clear: both;
	width: 100%;
	height: 0;
	visibility: hidden;
	content: "";
}
#J_friend .u_cfg span {
	display: inline-block;
	padding: 6px;
	border-radius: 4px;
	font-size: 24px;
	-webkit-transform-origin: 50% 50%;
}
#J_friend .u_cfg:hover span {
	-webkit-animation: u_cfg_rotate linear 3s infinite;
}
@-webkit-keyframes u_cfg_rotate {
	0% {
		-webkit-transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}
#J_friend .u_cfg:hover .u_cfg_list {
	display: block;
}
#J_friend .u_cfg .u_cfg_list {
	display: none;
	padding: .2em 0;
	background-clip: padding-box;
	background-color: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 6px 6px 6px 6px;
	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	outline: medium none;
	position: absolute;
	right: 0;
	z-index: 9999;
	width: 100px;
	top: 50%;
}
#J_friend .u_cfg .u_cfg_item {
	padding: 0 .2em;
	font-size: 16px;
	text-align: center;
}
#J_friend .u_cfg .u_cfg_item:hover {
	background: #DDD;
}

.u_status_sel {
	float: left
}